@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    background-color: #F9FAFB;
    font-family: "Inter", sans-serif;
}

.sidebar{
    position: fixed;
    background-color: white;
    width: 250px;
    height: 100vh;
    left: 0;
    top: 0;
}

.fs-4{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    text-align: center;
    color: #008797;
}

.fs-6{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    text-align: center;
    color: #80C3CB;
}

.nav-item{
    margin-top: 50px;
}

.text-nav{
    font-size: medium;
    font-weight: 400;
    color: #6B7280;
}

.text-nav-act{
    font-size: medium;
    font-weight: 400;
    color: white;
}

.bi{
    color: #6B7280;
}

.bi-act{
    color: white;
}

.content{
    margin-left: 250px;
}

.navbar{
    width: calc(100%);
    background: white;
    height: 90px;
    padding: 0 24px;
    display: flex;
    align-items: center;
}

.navbar .navbar-item{
    display: flex;
    align-items: center;
    gap: 24px;  
}

.search{
    width: max-content;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 28px;
    background: white;
    outline: auto;
    outline-color: #9CA3AF;
}

.search-input{
    font-size: 16px;
    color: #9CA3AF;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
}

.bi-nav{
    color: #9CA3AF;
    margin-left: 14px;
}

.search-input::placeholder{
    color: #9CA3AF;
    font-size: small;
}

.navbar-brand{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: larger;
}

.box-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 305px));
    grid-gap: 24px;
    margin-top: 36px;
}

.box-info li{
    padding: 24px;
    background: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 24px;
}

.box-info li .bx{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-info li:nth-child(1) .bx{
    background: #D3FAFF;
    color: #55AFBA;
}

.box-info li:nth-child(2) .bx{
    background: #D3FFE7;
    color: #10B981;
}

.box-info li:nth-child(3) .bx{
    background: #FFD3D3;
    color: #EF4444;
}

.box-info li .text h3{
    font-size: 24px;
    font-weight: 600;
}

.table-data{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
}

.table-data > div{
    border-radius: 20px;
    background: white;
    padding: 24px;
}

.table-data .book{
    margin-left: 24px;
    flex-grow: 0.9;
}

.table-data .book table{
    width: 100%;
    border-collapse: collapse;
}

.table-data .book table th{
    padding-bottom: 12px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid #D1D5DB;
}

.table-data .book table td{
    padding: 16px 0;
    align-items: center;
    border-bottom: 1px solid #D1D5DB;
}

.table-data .book table tbody tr:hover{
    background: #AAD7DC;
}

.table-data .book table tr td .status{
    font-size: 10px;
    padding: 6px 16px;
}

.table-data .book table tr td .status.available{
    color: #047857;
    background: #A7F3D0;
    outline: auto;
    outline-color: #047857;
}

.table-data .book table tr td .status.unavailable{
    color: #B91C1C;
    background: #FECACA;
    outline: auto;
    outline-color: #B91C1C;
}

.table-data .head{
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}

.table-data .head h3{
    margin-right: auto;
}